<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Discretized Items</title>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />

        <script src="https://unpkg.com/htmx.org@2.0.4" defer></script>
        <script src="https://unpkg.com/htmx.org@2.0.4/dist/ext/json-enc.js" defer></script>

        <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>

        <script>
            window.initialItemAttributes = {{ attributes | tojson }};
        </script>
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    </head>
    <body>
        <div class="container my-5 d-flex justify-content-between align-items-center">
            <div>
                <a href="{{ url_for('upload_file') }}" class="btn btn-secondary">Start New Analysis</a>
            </div>
            <div>
                <a href="{{ url_for('download_ocel') }}" class="btn btn-success me-3">
                    <i class="bi bi-download"></i>
                    Download OCEL
                </a>
            </div>
        </div>

        <form method="post" action="/mine" x-data="itemsForm()" @submit.prevent="submitForm">
            <div class="container my-5">
                <div class="card mb-4 shadow-sm border-0">
                    <div class="card-header bg-secondary text-white">
                        <h5 class="mb-0">
                            <i class="bi bi-bullseye"></i>
                            Mining Objective
                        </h5>
                    </div>
                    <div class="card-body">
                        <select class="form-select mb-3" x-model="data.objective.name">
                            <option value="itemset">Frequent Itemsets</option>
                            <option value="associationrule">Association Rules</option>
                            <option value="classificationrule">Classification Rules</option>
                        </select>
                        <div class="objective-parameters">
                            <template x-if="data.objective.name === 'itemset'">
                                <div class="ps-4">
                                    <label class="form-label">Minimum Support</label>
                                    <input type="number" class="form-control mb-2" step="0.01" min="0" max="1" x-model="data.objective.parameters.min_sup" />
                                </div>
                            </template>
                            <template x-if="data.objective.name === 'associationrule'">
                                <div class="ps-4">
                                    <label class="form-label">Minimum Support</label>
                                    <input type="number" class="form-control mb-2" step="0.01" min="0" max="1" x-model="data.objective.parameters.min_sup" />
                                    <label class="form-label mt-2">Minimum Confidence</label>
                                    <input type="number" class="form-control mb-2" step="0.01" min="0" max="1" x-model="data.objective.parameters.min_conf" />
                                    <label class="form-label mt-2">Minimum Lift</label>
                                    <input type="number" class="form-control" step="0.01" min="0" x-model="data.objective.parameters.min_lift" />
                                </div>
                            </template>
                            <template x-if="data.objective.name === 'classificationrule'">
                                <div class="ps-4">
                                    <label class="form-label">Minimum Support</label>
                                    <input type="number" class="form-control mb-2" step="0.01" min="0" max="1" x-model="data.objective.parameters.min_sup" />
                                    <label class="form-label mt-2">Minimum Confidence</label>
                                    <input type="number" class="form-control mb-2" step="0.01" min="0" max="1" x-model="data.objective.parameters.min_conf" />
                                    <label class="form-label mt-2">Minimum Lift</label>
                                    <input type="number" class="form-control" step="0.01" min="0" x-model="data.objective.parameters.min_lift" />
                                    <label class="form-label mt-2">Target Attribute</label>
                                    <select class="form-select" multiple x-model="data.objective.parameters.target" x-multiselect :size="attributes.length" style="height: auto">
                                        <template x-for="attr in attributes">
                                            <option
                                                :value="JSON.stringify({ attribute: attr.attribute, type: attr.type, qualifier: attr.qualifier })"
                                                x-text="attr.attribute + '-' + attr.type + '-' + attr.qualifier"
                                            ></option>
                                        </template>
                                    </select>
                                </div>
                            </template>
                        </div>
                    </div>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Start Pattern Mining</button>
                </div>
            </div>
        </form>

        <div class="container my-5">
            <h1 class="mb-4 text-center">Discretized Items</h1>
            {% for elem in items %}
            <div class="attribute-card">
                <div class="attribute-title">Item {{ loop.index }}</div>
                <div class="table-responsive">
                    <table class="table interval-table table-bordered align-middle">
                        <thead class="table-light">
                            <tr>
                                <th>#</th>
                                <th>Attribute</th>
                                <th>Type</th>
                                <th>Qualifier</th>
                                <th>Value</th>
                                <th>Aggregation</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <span class="badge badge-interval">1</span>
                                </td>
                                <td>{{ elem.attribute }}</td>
                                <td>{{ elem.type }}</td>
                                <td>{{ elem.qualifier }}</td>
                                <td class="interval-value-container">
                                    {% if elem.interval is defined %}
                                    <div class="intervall-pill">[{{ elem.interval.start }}, {{ elem.interval.end }}]</div>
                                    {% endif %} {% if elem.value is defined %}
                                    <div class="value-pill">{{ elem.value }}</div>
                                    {% endif %}
                                </td>
                                <td>{% if elem.aggregate %} {{ elem.aggregate }} {% else %} – {% endif %}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            {% endfor %}
        </div>

        <button id="scrollToTopBtn" title="Scroll to top">↑</button>
    </body>
</html>
